            {% load static %}
            <header id="header">
				<div class="inner">
					<a id="logo" href="http://icmr2021.org/"><img src="{% static 'img/logo.png' %}"></a>
				</div>
			</header>
			<div id="time-wrapper">
				<a href="https://time.is/UTC" id="time_is_link" rel="nofollow">Coordinated Universal Time (UTC+0) </a><span id="UTC_za00"></span>
				<a href="https://time.is/China_Standard_Time" id="time_is_link" rel="nofollow">China Standard Time CST (UTC+8) </a><span id="China_Standard_Time_z429"></span>
				<a href="https://time.is/EST" id="time_is_link" rel="nofollow">Estern Standard Time EST (UTC-5) </a><span id="EST_z113"></span>
			</div>