{% extends "base.html" %}
{% block content %}
{% include 'loginHeader.html' %}
			<!-- Main Wrapper -->
				<div id="login-wrapper">
					<section class="container">
						<div class="row aln-center">	
							<div class="login">
								<h2>Register</h2>
								<form action="" method="POST">
									{% csrf_token %}
									{% for field in form %}
										<h4>{{field.label}}</h4>
										{{ field }}
										<h4>  </h4>
										{% for error in field.errors %}
										<p>{{ error }}</p>
										{% endfor %} 
										
									{% endfor %}
									<input type="submit" value="Register">
								</form>
								Have account already? <a href="/virtual/accounts/login/"> Back to Login</a>
							</div>
						</div>
				</section>
				</div>
{% endblock %}